# Ignore the virtual environment folder
venv/

*.log 

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Django migration files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.idea/
*.vscode/
*.DS_Store

# Ignore environment variables file
.env

# Ignore static and media files
/static/
/media/